*{
    background-color: rgb(255 255 255);
    border-radius: 4px;
    border: 1px solid rgb(204 204 204);
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
    background-color: #dae0e6;
}

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.Inverse, .Inverse > *
{
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.Table
{
    display: table;
    height: 100%;
    width: 100%;
}
.Column
{
    display: table-cell;
}

/*For demonstration only*/
p
{    
    font-size: 1.3em;
}

.Important
{
    font-weight: bolder;
    color: white;
}

body > .Container
{
    text-align: center;
}

.Header, .Footer
{
    
    height: 32px;
    /* display: flex; */
    /* flex-direction: row; */
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    width: 100%;
}

.C1
{
    width: 15%;
    padding-left: 50px;
    background-color: #90adc1;
}
.C2
{
    margin-top: 32px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background: #dae0e6;
    height: 100%;
}
.C3
{
    width: 15%;
    background-color: #723131;
}
.Footer
{
    background-color: #b5a8b7;
}
#StatementContainer{
    background-color: black;
}
h2 {
    margin-top: -0.20%;  
}
img#header{
    width: 100%;
    height: 300px;
}
img#pfp{
    height: 100px;
    width: 100px;
}
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: inline-flex; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
  }
  .NavItem{
      display: inline-flex;
  }

  .header__logo{
      widows: 100px;
      object-fit: contain;
      margin-left: 20px;
      margin-right: 20px;
      flex: 1;
  }
  .header__search{
      display: flex;
      flex: 1;
  }
  .header__searchInput{
      height: 12px;
      padding: 10px;
      border: none;
      width: 100%;
  }
  .header__searchIcon {
      padding: 5px;
      height: 22px !important;
      background-color: #cd9042
  }
  
  #UserPageContainer {
    background: white;
    border-color: rgb(56, 68, 77);
    border: 1px solid;
  }
  .ImageLayedOver
  {
    position: relative;
    top: 0;
    left: 0;
  }
  .LayoverImage
  {
    position: absolute;
    top: 60px;
    left: 80px;
  }
  @import "http://fonts.googleapis.com/css?family=Raleway";
  /*----------------------------------------------
  CSS Settings For HTML Div ExactCenter
  ------------------------------------------------*/
  h3,p,label {
  text-align:center;
  font-family:'Raleway',sans-serif;
  color:#006400
  }
  h2 {
  font-family:'Raleway',sans-serif
  }
  input {
  width:100%;
  margin-bottom:20px;
  padding:5px;
  height:30px;
  box-shadow:1px 1px 12px gray;
  border-radius:3px;
  border:none
  }
  textarea {
  width:100%;
  height:80px;
  margin-top:10px;
  padding:5px;
  box-shadow:1px 1px 12px gray;
  border-radius:3px
  }
  #send {
  width:103%;
  height:45px;
  margin-top:40px;
  border-radius:3px;
  background-color:#cd853f;
  border:1px solid #fff;
  color:#fff;
  font-family:'Raleway',sans-serif;
  font-size:18px
  }
  div#feedback {
  text-align:center;
  height:520px;
  width:330px;
  padding:20px 25px 20px 15px;
  background-color:#f3f3f3;
  border-radius:3px;
  border:1px solid #cd853f;
  font-family:'Raleway',sans-serif;
  float:left
  }
  .container {
  width:960px;
  margin:40px auto
  }

  #submit-form{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #submitCategory{
    display: flex;
  }
  #content{
    min-height: 100%;
    background-color: beige;
  }
  .dropdown-menu {
    position: relative;
    
  }
  .dropdown{
    z-index: 99999;
  }
  
  .dropdown-menu > span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .dropdown-menu > span,
  .dropdown-menu > div {
    cursor: pointer;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .dropdown-menu > div {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  
  .dropdown-menu > span:focus ~ div {
    display: block;
  }
  
  .dropdown-menu > ul {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.5s;
    opacity: 0;
  }
  
  .dropdown-menu > span:focus ~ ul {
    visibility: visible;
    opacity: 1;
  }
  
  /* The .sample-menu-style below is for illustration purpose.
     Feel free to use different style. */
  
  .sample-menu-style > span {
    font: 120% Arial;
    color: darkgreen;
  }
  
  .sample-menu-style > span:hover {
    opacity: 0.75;
  }
  
  .sample-menu-style > ul {
    padding: 0;
    margin-top: 2px;
  }
  
  .sample-menu-style li {
    border: 1px solid #bbb;
    box-shadow: 2px 2px 5px #ccc;
    padding: 0.2em 0.4em 0;
    height: 1.5em;
    background: #fffffb;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .sample-menu-style li:not(:first-child) {
    border-top: none;
  }
  
  .sample-menu-style li:hover {
    background: #f8f8f4;
  }
  
  .sample-menu-style a {
    text-decoration: none;
    color: #555;
  }
  #CreateDockFormHolder{
      
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  #DocksContainer{
    height: 100%;
  }
  #PostFormHolder{
    margin-top: 50px;
  } #PostContainer{
    margin-top: 50px;
  }